@use '../_variables';
@use '../mixins/grid';

:root {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$defaultFontSize;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$defaultFontSize;
}

p,
h1,
h2,
h3,
th,
td {
    color: var(--color-contrast-high);
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--color-tertiary);
    margin: 0;
}

h1 {
    color: var(--color-primary);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: variables.$defaultUnit * 0.75;
    font-size: 1.6rem;

    @include grid.sm-up() {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.4rem;
    color: var(--color-primary);
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-contrast-high);
    }
}

strong {
    color: var(--color-secondary);
}

article {
    margin-bottom: 2rem;
}

.clear {
    clear: both;
}

.wrapper {
    max-width: variables.$defaultUnit * 120;
}
