@use '../_variables';

:root {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$defaultFontSize;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$defaultFontSize;
}

p,
th,
td {
    color: var(--color-contrast-high);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: variables.$defaultUnit * 0.75;
}

h2 {
    color: var(--color-secondary);
    font-size: 1.8em;
}

h3 {
    color: var(--color-tertiary);
    font-size: 1.6em;
}

h4,
h5,
h6 {
    color: var(--color-contrast-higher);
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-contrast-high);
    }
}

strong {
    color: var(--color-secondary);
}

article {
    margin-bottom: 2rem;
}

.clear {
    clear: both;
}

.wrapper {
    max-width: variables.$defaultUnit * 120;
}
