@use '../_variables';
@use '../mixins/border';
@use '../mixins/flex';
@use '../mixins/margin';
@use '../mixins/padding';
@use '../mixins/text';

:root {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$defaultFontSize;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$defaultFontSize;
}

p,
th,
td {
    color: var(--color-contrast-high);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: variables.$defaultUnit * 0.75;
}

h2 {
    color: var(--color-secondary);
    font-size: 1.8em;
}

h3 {
    color: var(--color-tertiary);
    font-size: 1.6em;
}

h4,
h5,
h6 {
    color: var(--color-contrast-higher);
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-contrast-high);
    }
}

strong {
    color: var(--color-secondary);
}

article {
    margin-bottom: 2rem;
}

.clear {
    clear: both;
}

.wrapper {
    max-width: variables.$defaultUnit * 120;
}

// TODO temporary stuff that needs cleaning up
.flex {
    display: flex;
}

.items-centre {
    align-items: center;
}

.margin-right-s {
    margin-right: variables.$defaultUnit;
}
// end temp stuff

// TODO these get compiled correctly but cannot be applied in the way I was expecting
@each $breakpoint, $minimum in variables.$grid-breakpoints {
    @media (min-width: #{$minimum}) {
        @include margin.margin(#{$breakpoint});
        @include padding.padding(#{$breakpoint});
        @include text.text-scale(#{$breakpoint});
        @include text.text-color(#{$breakpoint});
        @include text.text-align(#{$breakpoint});
        @include text.text-weight(#{$breakpoint});
        @include text.line-height(#{$breakpoint});
        @include text.letter-spacing(#{$breakpoint});
        @include border.border-radius(#{$breakpoint});
        @include border.border-color(#{$breakpoint});
        @include border.border-width(#{$breakpoint});
        @include border.border-style(#{$breakpoint});
        @include flex.flex-container(#{$breakpoint});
        @include flex.flex-direction(#{$breakpoint});
        @include flex.flex-basis(#{$breakpoint});
    }
}
