@use '../mixins/grid';
@use '../variables';

.grid {
  display: grid;
  max-width: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, minmax(variables.$defaultUnit * 10, 1fr));
  grid-gap: variables.$defaultUnit * 2;

  @include grid.md-up() {
    grid-template-columns: repeat(auto-fill, minmax(variables.$defaultUnit * 15, 1fr));
  }
}

// TODO: work out if I still want to allow this level of control over the grid or not - test around some more, basically
@for $i from 2 through 12 {
  .span\@#{$i} {
    grid-column-end: span #{$i}
  }
}
