@use '../variables';

.card {
    margin-bottom: variables.$defaultUnit * 3;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-contrast-lower);
    border-left-width: variables.$defaultUnit * 0.5;
    border-right-width: variables.$defaultUnit * 0.5;
    border-radius: variables.$defaultUnit;
    background-color: var(--color-bg-light);

    &:last-child {
        margin-bottom: 0;
    }
}

.card__header {
    border-radius: variables.$defaultUnit variables.$defaultUnit 0 0;
    padding: (variables.$defaultUnit * 1.5) (variables.$defaultUnit * 3);
    border-bottom: 1px solid var(--color-contrast-lower);
    margin: initial !important;
}

.card__heading {
    border: none;
    font-weight: 300;
    margin: 0;
    line-height: variables.$defaultUnit * 4;
    display: inline-block;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
}

.card__heading__icon {
    fill: var(--color-primary);
}

.card__content {
    padding: (variables.$defaultUnit * 2) (variables.$defaultUnit * 3);
    flex: 1 1 auto;

    p:only-child {
        margin: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .notification {
        margin: (variables.$defaultUnit * 1.5) 0;
    }
}

.card__footer {
    border-radius: 0 0 variables.$defaultUnit variables.$defaultUnit;
    border-top: 1px solid var(--color-contrast-lower);
    padding: (variables.$defaultUnit * 1.5) (variables.$defaultUnit * 3);

    .chip {
        background: var(--color-bg-lighter);
        border: 1px solid var(--color-contrast-lower);
    }
}

// TODO: is this needed anymore?
.flex {
    > * {
        padding: variables.$defaultUnit * 2;
        padding-right: variables.$defaultUnit;
    }

    > :last-child {
        padding-right: variables.$defaultUnit * 2;
    }
}

@each $color, $value in variables.$themeColors {
    .#{$color} {
        border-left-color: var($value);
        border-right-color: var($value);
    }
}
