@use '../variables';

// List of chip
.chips {
    display: flex;
    height: 32px;
    align-items: center;
}

// Description for the list
.chips__descriptor {
    margin-right: variables.$defaultUnit;
    padding-top: variables.$defaultUnit * 0.5;
}

// Individual chip element
.chip {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    height: variables.$defaultUnit * 2;
    padding: (variables.$defaultUnit * 0.5) variables.$defaultUnit;
    border-radius: variables.$defaultUnit * 2;
    background-color: var(--color-bg-lighter);
    transition: all 0.2s ease-in-out;
    margin: (variables.$defaultUnit * 0.5) variables.$defaultUnit 0 0;

    &:not(:last-child) {
        margin-right: variables.$defaultUnit;
    }

    &:hover {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}

// Textual content for the chip
.chip__content {
    display: inline-block;
}

@each $color, $value in variables.$themeColors {
    .#{$color} {
        border: 1px solid var($value);

        &.solid {
            background-color: var($value);
            color: var(map-get(variables.$contrastColors, $color));

            &:hover {
                background-color: var(#{$value}-light);
            }
        }

        &:hover {
            border-color: var(#{$value}-light);
        }
    }
}
