@use '../variables';

.tile {
  background-color: var(--color-bg-light);
  border-radius: variables.$defaultUnit;
  border: 1px solid var(--color-contrast-lower);
  padding: variables.$defaultUnit * 1.5;
  color: var(--color-contrast-high);
}

.tile_center {
  > * {
    margin: 0 auto;
  };
}
